<template>
<v-btn aria-label="button-action-redeem" 
            color="green" 
            fab dark small absolute top right>
    <v-icon>mdi-shopping</v-icon>
</v-btn>
</template>

<script>
export default {
    name: "ButtonRedeemProduct"
}
</script>
