<template>
  <div>
    <v-dialog max-width="600" v-model="activeDialog">
      <template>
        <v-card>
          <v-toolbar
            color="deep-purple accent-4"
            dark
            flat
            style="font-size: 25px"
            >Redeem Product <v-spacer />
            <v-icon @click="$emit('close')" large>mdi-window-close</v-icon>
          </v-toolbar>
          <v-card-text>
            <v-row>
              <v-col cols="12" sm="6">
                <v-img
                  :src="product.img.hdUrl"
                  max-height="250px"
                  max-width="250px"
                />
              </v-col>
              <v-col cols="12" sm="6" class="mt-5 text--primary">
                <div class="text-h4">{{ `${product.cost} pts.` }}</div>
                <div class="text-h5">{{ product.name }}</div>
                <div class="text-h6">{{ product.category }}</div>
              </v-col>
            </v-row>
          </v-card-text>

          <div class="mt-3 text-center">
            <v-btn
              class="mb-3"
              outlined
              rounded
              text
              @click="redeemPorduct()"
              color="deep-purple accent-4"
            >
              Redeem now!
            </v-btn>
          </div>
        </v-card>
      </template>
    </v-dialog>
  </div>
</template>

<script>
import { mapGetters } from "vuex";
import utility from "~/mixins/utility.js";
export default {
  name: "DialogRedeemProduct",
  mixins: [utility],
  props: {
    activeDialog: {
      type: Boolean,
      default: false,
    },
    product: {
      type: Object,
      required: true,
      default() {},
    },
  },
  computed: {
    ...mapGetters({
      getStatus: "products/getStatusTransaction",
    }),
  },
  methods: {
    async redeemPorduct() {
      const resquest = await this.$store.dispatch(
        "products/redeemProduct",
        this.product._id
      );
      this.$emit("close");
      this.alert(this.getStatus);
      this.$store.dispatch("user/fetchUserData");
    },
  },
};
</script>