<template>
    <div class="ma-2 text-center" >
        <v-chip 
            color="deep-orange accent-4" 
            label 
            outlined 
            small>
          <v-icon small left> mdi-alert-circle-outline </v-icon>
             You need<b>&nbsp; {{ `${ pointsNeed * (-1) } pts.` }} &nbsp;</b> additional
        </v-chip>
      </div>
</template>

<script>
export default {
name : "BannerPointsNeeded",
props : {
   pointsNeed : {
        type: Number ,
        required : true,
        default : 0,
    }
}
}
</script>