<template>
  <v-img
    class="white--text align-end"
    height="200px"
    :src="image.hdUrl"
    contain
  >
    <template v-slot:placeholder>
      <v-row class="fill-height ma-0" align="center" justify="center">
        <v-progress-circular indeterminate color="grey" role="progressbar" />
      </v-row>
    </template>
  </v-img>
</template>

<script>
export default {
  name: "ProductImage",
  props: {
    image: {
      type: Object,
      required: true,
      default() {},
    }
  },
};
</script>