<template>
    <div class="mx-3" style="font-size:18px" v-text="name" />
</template>

<script>
export default {
  name: "ProductName",
  props :{
  name: {
      type: String ,
      required : true,
      default () {}
    }
}
};
</script>