<template>
  <v-card-subtitle class="pt-0 pb-0" >{{ category}}</v-card-subtitle>
</template>

<script>
export default {
  name: "ProductCategory",
  props: {
    category: {
      type: String,
      required: true,
      default() {},
    },
  },
};
</script>