<template>
<div class="text-center mt-2">
    <span class="ma-2" style="font-size: 20px">
        <slot />
    </span>
</div>
</template>

<script>
export default {
    name: "ProductsCost",

}
</script>
