<template>
  <v-row class="mt-2 justify-center" >
    <v-col cols="12" sm="5" md="4" lg="3"  
               v-for="product in products" :key="product._id" 
    >
      <ProductCard :product="product"/>
    </v-col>
  </v-row>
</template>

<script>
import { mapGetters } from "vuex"; 
import ProductCard from "./ProductCard.vue";
export default {
  name: "ProductsContainer",
  components: { ProductCard },
  computed : {
    ...mapGetters({
        products : 'products/getProducts'
    })
  }
};
</script>
