<template>
<div>
    <v-hover v-slot="{ hover }" open-delay="50">
        <v-card class="mx-auto" max-width="350" :elevation="hover ? 20 : 6" :class="{ 'on-hover': hover }" style="flex: 1 0 auto;">

            <ProductImage :image="product.img" />
            <v-divider class="mr-5 ml-5" />
            <ButtonRedeemProduct v-if="pointsNeed > 0" @click.native="dialog = true" />
            <ProductCost> {{ `${product.cost} Pts.` }}</ProductCost>
            <ProductCategory :category="product.category" />
            <ProductName :name="product.name" />
            <v-list-item two-line>
                <v-list-item-content>
                    <BannerPointsNeeded v-if="pointsNeed < 0" :pointsNeed="pointsNeed" />
                </v-list-item-content>
            </v-list-item>

        </v-card>
    </v-hover>
    <DialogRedeemProduct :activeDialog="dialog" :product="product" @close="dialog = false" />
</div>
</template>

<script>
import {
    mapGetters
} from "vuex";
import ProductImage from "./product/ProductImage.vue";
import ProductCost from "./product/ProductCost.vue";
import ProductCategory from "./product/ProductCategory.vue";
import ProductName from "./product/ProductName.vue";
import BannerPointsNeeded from "./product/BannerPointsNeeded.vue";
import ButtonRedeemProduct from "~/components/global/Redeem/ButtonRedeemProduct.vue";
import DialogRedeemProduct from "~/components/global/Redeem/DialogRedeemProduct.vue";

export default {
    name: "ProductCard",
    components: {
        ProductImage,
        ProductCost,
        ProductCategory,
        ProductName,
        BannerPointsNeeded,
        ButtonRedeemProduct,
        DialogRedeemProduct,
    },
    props: {
        product: {
            type: Object,
            required: true,
            default () {},
        },
    },
    data() {
        return {
            dialog: false,
        };
    },
    computed: {
        ...mapGetters({
            user: "user/getUser",
        }),
        pointsNeed() {
            return this.user.points - this.product.cost;
        },
    },
};
</script>
