<template>
  <v-toolbar flat class="ml-5">
    <v-toolbar-title class="optionDesktop">Sort By : </v-toolbar-title>

    <v-chip class="ma-2" outlined @click="filterProducts('priceLow')">
      <v-icon left> mdi-arrow-down </v-icon>
      <span>Lowest Price</span>
    </v-chip>

    <v-chip class="ma-2" outlined @click="filterProducts('priceHigh')">
      <v-icon left> mdi-arrow-up </v-icon>
      <span>Highest Price</span>
    </v-chip>

  </v-toolbar>
</template>

<script>
import { mapMutations } from "vuex";
export default {
  name: "FilterBar",
  methods : {
        ...mapMutations({
       filterProducts : 'products/filterProducts'
     }),
  }
};
</script>