// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;
// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

 .swal2-container{
     font-family: Rubik;
     .swal2-title{
        font-weight: 400 !important;
     }    
 }
 
@media (max-width: #{$screen-sm-min}) {
    .optionDesktop{
        display: none;
    }
} 
@media (min-width: #{$screen-sm-min }) {
    .elementMobile{
        display: none !important;
    }
} 
.linkDecoration {
    text-decoration: none !important;
    &.text-black{
        color: black;
    }
    &.text-white{
        color: white;
    }
  }