<template>
  <v-app dark>
    <AppBar />
    <v-main>
      <v-container>
        <nuxt />
      </v-container>
    </v-main>
    <AppNavigation  />
  </v-app>
</template>

<script>
import AppBar from "~/components/global/layout/AppBar.vue";
import AppNavigation from "~/components/global/layout/AppNavigation.vue";
export default {
  name: "Layout",
  components: {
    AppBar,
    AppNavigation,
  },
};
</script>
