<template>
  <div>
    <FilterBar />
    <ProductsContainer />
  </div>
</template>

<script>
import { mapGetters } from "vuex";
import ProductsContainer from "~/components/products/ProductsContainer.vue";
import FilterBar from "~/components/global/Products/FilterBar.vue";
export default {
  head() {
    return {
    titleTemplate: `%s | ${this.user.name}` ,
    title: "Products Catalog",
    meta: [
      { charset: "utf-8" },
      { name: "viewport", content: "width=device-width, initial-scale=1" },
      {
        hid: "description",
        name: "description",
        content: "Catalog of products",
      },
    ],
    }
  },
  components: {
    ProductsContainer,
    FilterBar,
  },
  computed: {
    ...mapGetters({
      user: "user/getUser"
    }),
  },
};
</script>
