<template>
  <div>
    <v-toolbar flat>
      <v-icon class="mr-2">mdi-history</v-icon>
      <v-toolbar-title>Redeem History</v-toolbar-title>
      <v-spacer />
      <v-chip class="ma-2" outlined>
        <v-icon small left> mdi-tag-outline </v-icon>
        <span>
          <NuxtLink to="/" class="linkDecoration text-black">View Catalog</NuxtLink>
          </span>
      </v-chip>
    </v-toolbar>
    <v-data-table
      :headers="headers"
      :items="history"
      :items-per-page="10"
      hide-default-header
      class="elevation-5"
    >
      <template v-slot:item.img="{ item }">
        <img height="150px" :alt="item.name" :src="item.img.hdUrl" contain />
      </template>
      <template v-slot:item.createDate="{ item }">
        {{ $moment(item.createDate).format("DD/MM/YYYY  h:mm:ss") }}
      </template>
    </v-data-table>
  </div>
</template>

<script>
import { mapGetters } from "vuex";
export default {
  head() {
    return {
    titleTemplate: `%s | ${this.user.name}` ,
    title: "My Redeems",
    meta: [
      { charset: "utf-8" },
      { name: "viewport", content: "width=device-width, initial-scale=1" },
      {
        hid: "description",
        name: "description",
        content: "My redeems history",
      },
    ],
    }
  },
  name: "RedeemHistory",
  data() {
    return {
      headers: [
        { text: "Image", value: "img", align: "center" },
        { text: "Cost", value: "cost" },
        { text: "Name", value: "name" },
        { text: "Category", value: "category" },
        { text: "Date", value: "createDate" },
      ],
    };
  },
  async fetch() {
    await this.$store.dispatch("user/fetchRedeemHistory");
  },
  computed: {
    ...mapGetters({
      history: "user/getRedeemHistory",
      user: "user/getUser",
    }),
  },
};
</script>