<template>
<div class="app-bar">
  <v-app-bar fixed app dark color="deep-purple accent-4">

    <v-avatar class="ml-2" size="35">
      <img src="aerolab_icon.png" alt="alt" />
    </v-avatar>

    <v-spacer />
    <v-toolbar-title class="ma-2" v-text="user.name" />

    <v-chip class="ma-2" color="grey lighten-5" text-color="black">
      {{ `${user.points} Pts.` }}
    </v-chip>

    <v-chip class="ma-2 optionDesktop" outlined dark >
      <v-icon left> mdi-shopping </v-icon>
      <span>
       <NuxtLink to="/redeemHistory"  class="linkDecoration text-white">My Redeems </NuxtLink>
      </span>
    </v-chip>

  </v-app-bar>
  </div>
</template>

<script>
import { mapGetters } from "vuex";
export default {
  name: "AppBar",
  data() {
    return {};
  },
  computed: {
    ...mapGetters({
      user: "user/getUser",
    }),
  },
};
</script>