<template>
  <v-bottom-navigation class="elementMobile" color="deep-purple accent-4" fixed>
      <v-btn>
          <span>
              <NuxtLink 
                  to="/redeemHistory" 
                  class="linkDecoration text-black"
              >
              My Redeems </NuxtLink>
          </span>
          <v-icon> mdi-shopping</v-icon>
      </v-btn>
      <v-btn>
          <span>
              <NuxtLink 
                  to="/" 
                  class="linkDecoration text-black"
              >
              View Catalog </NuxtLink>
          </span>
          <v-icon> mdi-tag-outline</v-icon>
      </v-btn>
  </v-bottom-navigation>
</template>

<script>
export default {
    name: "AppNavigation",
};
</script>
